grid {
  background-color: #444;
}

card {
  max-width: 20%;
}

.main-nav {
  margin: 0;
}

/* .transparent {
  background-color: rgba(0, 0, 0, 0);
} */

#homepage_hero {
  min-height: 70%;
  background-size: cover;
  background-image: url(../imgs/hero1.jpg);
}
